mixin instagram-feed(data = {}, mods = {})
    .instagram-feed&attributes(attributes)
        .instagram-feed__carousel.owl-carousel
            each img in data
                .instagram-feed__item
                    img(src=img, alt="Instagram feed").instagram-feed__img
        // /.instagram-feed__carousel 

        a(href="javascript:void(0)").instagram-feed__link
            i.fab.fa-instagram(aria-label="Follow us on Instagram")
            |  @Eion_flower
    // /.instagram-feed 