mixin shop-category-fullwidth(data = {}, mods = {})
    .shop-category-fullwidth&attributes(attributes)
        .shop-category-fullwidth__cta
            .shop-category-fullwidth__cta-price $#{data.cta.price}
            
            .shop-category-fullwidth__cta-img-container
                img(src=data.cta.img, alt="").shop-category-fullwidth__cta-img
                +btn(data.cta.btn, {
                    theme : 'dark',
                    size  : 'large',
                }).shop-category-fullwidth__cta-btn

            +countdown().shop-category-fullwidth__cta-countdown

        .shop-category-fullwidth__products
            .shop-category-fullwidth__products-inner
                h2.title.shop-category-fullwidth__products-title= data.products.title

                .shop-category-fullwidth__items
                    - let i = 0;
                    while i < data.products.items.length
                        .shop-category-fullwidth__items-col                 
                            +product(data.products.items[i], {
                                size: 'small'
                            }).shop-category-fullwidth__item
                            - i++;
                            if i < data.products.items.length
                                +product(data.products.items[i], {
                                    size: 'small'
                                }).shop-category-fullwidth__item
                                - i++;
