/**
 * Styles for the products block.
 */
.products {
    &__grid {
        @include breakpoint-up(sm) {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    }

    &__product {
        margin-bottom: 30px;
    }

    &__view-more {
        display: block;
        margin: 40px auto 0;
        width: 170px;
    }
}
