/**
 * Styles for the products block.
 */
.products {
    &__grid {
        @include breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
    }

    &__item {
        margin: 0 auto 30px;
        max-width: 450px;

        @include breakpoint-up(md) {
            max-width: none;
            padding: 15px;
        }

        &_size_1-2 {
            @include breakpoint-up(md) {
                width: 50%;
            }
        }

        &_size_1-3 {
            @include breakpoint-up(md) {
                width: 50%;
            }

            @include breakpoint-up(lg) {
                width: 33.3333%;
            }
        }
    }

    &__product {
        @include breakpoint-up(md) {
            height: 100%;
        }
    }

    &__view-more {
        display: block;
        margin: 70px auto 0;
        width: 170px;
    }
}
