mixin products(data = {}, mods = {})
    .products&attributes(attributes)
        .products__grid
            each product in data
                .products__product
                    +product(product)

        +btn({
            url  : 'javascript:void(0);',
        }, {size: 'large'}).products__view-more View more