mixin header__nav-list(data)
    ul.header__nav-list
        each item in data
            li.header__nav-item
                if item.label
                    .header__nav-label
                        i.icon-bell.icons(aria-hidden="true")
                
                a(href=item.link).header__nav-link= item.text
                    if item.arrow
                        i.icon-arrow-down.icons.header__nav-arrow(
                            aria-hidden="true"
                        )

mixin header(data, mods = {})
    header.header&attributes(attributes)
        .header__left
            .header__actions
                button.header__btn.header__nav-toggle
                    i.icon-list.icons(aria-label="Toggle menu")
                
                .header-dropdown.header-dropdown_bottom-left
                    button.header-dropdown__toggle.header__btn
                        i.icon-user.icons(aria-label="Toggle account")
                    .header-dropdown__backdrop
                    .header-dropdown__popover
                        .header-dropdown__top
                            h2.header-dropdown__title Account
                            button.header-dropdown__close
                                i.icon-close.icons(aria-label="Hide account")

                        .header-dropdown__content
                            +account()

        .header__center
            nav.header__nav
                +header__nav-list(data.menuLeft)
                
                h1.header__logo
                    img(src="img/logo.png", alt="Eion").header__logo-img
                    .header__logo-alt Eion

                +header__nav-list(data.menuRight)

        .header__right
            .header__actions
                .header-dropdown.header-dropdown_bottom-right
                    button.header-dropdown__toggle.header__btn
                        i.icon-basket.icons(aria-label="Toggle shopping cart")
                        .header__cart-items(aria-hidden="true") 3
                    .header-dropdown__backdrop
                    .header-dropdown__popover
                        .header-dropdown__top
                            h2.header-dropdown__title Shopping Cart
                            button.header-dropdown__close
                                i.icon-close.icons(aria-label="Hide minicart")

                        .header-dropdown__content
                            +minicart()
                
                .header-dropdown.header-dropdown_bottom-right
                    button.header-dropdown__toggle.header__btn
                        i.icon-magnifier.icons(aria-label="Toggle search")
                    .header-dropdown__backdrop
                    .header-dropdown__popover
                        .header-dropdown__top
                            h2.header-dropdown__title Search
                            button.header-dropdown__close
                                i.icon-close.icons(aria-label="Hide search")

                        .header-dropdown__content
                            +search()
    // /.header 