mixin blog-grid(data = {}, mods = {})
    .blog-grid&attributes(attributes)
        .page__container
            h1.title.title_center.blog-grid__title= data.title

            .blog-grid__items
                each post in data.posts
                    +post(post, {level: 2}).blog-grid__item
            
            +pagination(data.pagination).blog-grid__pagination
