/**
 * Styles for the blog-grid block.
 */
.blog-grid {
    padding: 110px 0 100px;

    &__items {
        margin-top: 80px;

        @include breakpoint-up(sm) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 30px;
        }
    }

    &__pagination {
        margin-top: 60px;
    }
}
