mixin post-carousel(data = {}, mods = {})
    .post-carousel&attributes(attributes)
        .post-carousel__inner
            .post-carousel__container.owl-carousel
                if !!mods.twoRows
                    -
                        const pairs = data.reduce((result, post, i, arr) => {
                            if (i % 2 == 0) {
                                result.push(arr.slice(i, i + 2));
                            }
                            return result;
                        }, []);
                    each pair in pairs
                        .post-carousel__post-wrapper
                            +post(pair[0]).post-carousel__post
                            if pair[1]
                                 +post(pair[1]).post-carousel__post
                else
                    each post in data
                        .post-carousel__post-wrapper
                            +post(post).post-carousel__post
            // /.post-carousel__container 
        // /.post-carousel__inner 
    // /.post-carousel 