mixin footer-subscribe(data = {}, mods = {})
    form(action="#" method="post").footer-subscribe&attributes(attributes)
        +form-group({
            type: 'email',
            placeholder: 'Your email...',
            label: 'Your email',
            required: true
        }, {
            theme: 'footer'
        }).footer-subscribe__input
        +btn({text: 'Submit'}, {theme: 'inverse'})(
            type = "submit"
            name = "subscribe"
        ).footer-subscribe__btn