mixin product-gallery(data = {}, mods = {})
    .product-gallery.swiper-container&attributes(attributes)
        .swiper-wrapper
            each item, i in data
                .swiper-slide(
                    class = (i == 0) && "swiper-slide-active"
                )
                    img(src=item.img, alt="").product-gallery__img

        .slider__pagination.swiper-pagination
    // /.product-gallery 