mixin product-gallery(data = {}, mods = {})
    .product-gallery&attributes(attributes)
        each item, i in data
            .product-gallery__slide(
                class = (i == 0) && "product-gallery__slide_active"
            )
                img(src=item.img, alt="").product-gallery__img
    // /.product-gallery 