/**
 * Styles for the faq block.
 */
.faq {
    &__content {
        padding: 95px 0 150px;

        @include breakpoint-up(lg) {
            display: flex;
            margin: 0 -15px;
        }
    }

    &__topics {
        @include breakpoint-up(lg) {
            flex: 0 0 50%;
            padding: 0 15px;
        }
    }

    &__popular-articles {
        margin-top: 60px;

        @include breakpoint-up(lg) {
            flex: 0 0 50%;
            margin-top: 0;
            padding: 0 16px;
        }
    }

    &__title {
        margin-bottom: 50px;
    }
}
