/**
 * Styles for the subscribe form block.
 */
.subscribe-form {
    &__label {
        display: none;
    }

    &__input {
        display: block;
        padding: 15px 18px;
        width: 100%;

        color: $color-text;
        font-family: $font-family-serif;
        @include font-size(14px);
        font-style: italic;

        background: transparent;
        border: 2px dashed $color-silver;

        &::placeholder {
            color: $color-silver;
        }
    }

    &__submit {
        margin-top: 30px;
        width: 170px;
    }
}
