mixin product-carousel(data = {}, mods = {})
    .product-carousel&attributes(attributes)
        .product-carousel__inner
            .product-carousel__container.owl-carousel
                each product in data
                    .product-carousel__product-wrap.item
                        +product(product, {small: true}).product-carousel__product
            // /.product-carousel__container 
        // /.product-carousel__inner 
    // /.product-carousel 
