mixin share(data = {}, mods = {})
    .share&attributes(attributes)
        button.share__toggle(
            aria-haspopup = "true"
            aria-expanded = "false"
        )
            i.fas.fa-share-alt(aria-label="Share")
        
        ul.share__menu
            li.share__item
                a(href="javascript:void(0)").share__link
                    i.fab.fa-twitter(
                        aria-label="Share with Twitter"
                    )
            li.share__item
                a(href="javascript:void(0)").share__link
                    i.fab.fa-facebook-f(
                        aria-label="Share with Facebook"
                    )
            li.share__item
                a(href="javascript:void(0)").share__link
                    i.fab.fa-google-plus-g(
                        aria-label="Follow us on Google Plus"
                    )