mixin footer-instagram(data = {}, mods = {})
    .footer-instagram&attributes(attributes)
        ul.footer-instagram__list
            each item in data
                li.footer-instagram__item
                    img(src=item, alt="").footer-instagram__img
        a(href="javascript:void(0);").footer-instagram__link
            i.fab.fa-instagram(aria-label="Follow us on Instagram")
            |  @Eion_flower
    // /.footer-instagram 