extends ../layouts/base.pug

include ../../blocks/faq/faq/faq.pug
include ../../blocks/faq/faq-hero/faq-hero.pug
include ../../blocks/faq/topics/topics.pug
include ../../blocks/faq/accordion/accordion.pug

block page
    +faq(data.content)