extends ../layouts/base.pug

include ../../blocks/index/slider/slider.pug
include ../../blocks/index/special-offers/special-offers.pug

block page
    +slider(data.content.slider)
    +special-offers(data.content.specialOffers, {paddingTop: true})