extends ../layouts/base.pug

include ../../blocks/index/slider/slider.pug
include ../../blocks/index/banners/banners.pug
include ../../blocks/index/counters/counters.pug
include ../../blocks/index/post-carousel/post-carousel.pug
include ../../blocks/index/special-offers/special-offers.pug
include ../../blocks/index/instagram-feed/instagram-feed.pug

block page
    +slider(data.slider)
    +banners(data.banners)
    +section({
        title : data.products.title,
        text  : data.products.text,
    })
        +products(data.products.items)
    +counters(data.counters)
    +section({
        title: data.blog.title
    })
        +post-carousel(data.blog.posts)
    +special-offers(data.specialOffers)
    +instagram-feed(data.instagramFeed)