extends ../layouts/base.pug

include ../../blocks/index/slider/slider.pug
include ../../blocks/index/special-offers/special-offers.pug
include ../../blocks/index/featured-products/featured-products.pug
include ../../blocks/index/banner/banner.pug
include ../../blocks/index/banner-section/banner-section.pug
include ../../blocks/index/countdown/countdown.pug
include ../../blocks/index/product-carousel/product-carousel.pug
include ../../blocks/index/counters/counters.pug

block page
    +slider(data.content.slider).page__slider
    +special-offers(data.content.specialOffers).page__section
    +section({
        title : data.content.featuredProducts.title,
        text  : data.content.featuredProducts.text,
    }).page__section
        +featured-products(data.content.featuredProducts.items)
    .columns
        +banner(data.content.coupon1).columns__left
        +banner-section(data.content.dealOfTheWeek).columns__right
    +section({
        title : data.content.newProducts.title,
        text  : data.content.newProducts.text,
    }).page__section
        +product-carousel(data.content.newProducts.items)
    +counters(data.content.counters, {theme: 'bordered'}).page__section