extends ../layouts/base.pug

include ../../blocks/index/slider/slider.pug
include ../../blocks/index/banners/banners.pug
include ../../blocks/index/counters/counters.pug
include ../../blocks/index/post-carousel/post-carousel.pug
include ../../blocks/index/special-offers/special-offers.pug
include ../../blocks/index/instagram-feed/instagram-feed.pug

block page
    +slider(data.content.slider).page__slider
    +banners(data.content.banners, {paddingTop: true}).page__section#banners
    +section({
        title : data.content.products.title,
        text  : data.content.products.text,
    })
        +products(data.content.products.items)
    +counters(data.content.counters, {theme: 'light'}).page__section
    +section({
        title: data.content.blog.title
    }).page__section
        +post-carousel(data.content.blog.posts)
    +special-offers(data.content.specialOffers).page__section
    +instagram-feed(data.content.instagramFeed)