extends ../layouts/base.pug

include ../../blocks/index/slider/slider.pug
include ../../blocks/index/product-columns/product-columns.pug
include ../../blocks/index/banner/banner.pug

block page
    +slider(data.content.slider).page__slider
    +product-columns(data.content.products).page__section
    .columns
        +banner(data.content.coupon1).columns__left
        +banner(data.content.coupon2).columns__right