extends ../layouts/base.pug

include ../../blocks/shop/product-detail/product-detail.pug
include ../../blocks/shop/shop-gallery/shop-gallery.pug
include ../../blocks/shop/review-form/review-form.pug
include ../../blocks/shop/star-rating/star-rating.pug

block page
    +product-detail(data.content)