/**
 * Styles for the cart-coupon block.
 */
.cart-coupon {
    display: flex;
    height: 60px;
    max-width: 570px;

    &__input {
        flex: 1;
        min-width: 0;
        padding: 0 15px;

        color: $color-text;
        font-family: $font-family-serif;
        @include font-size(16px);
        font-style: italic;

        background: transparent;
        border: 2px dashed $color-text;
        border-right: 0;

        @include breakpoint-up(sm) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__btn {
        padding: 0 15px;

        color: $color-white;
        @include font-size(14px);
        text-transform: uppercase;
        white-space: nowrap;

        background: $color-text;
        border: 0;
        cursor: pointer;

        transition: background-color 0.25s linear;

        &:hover,
        &:focus {
            background: $color-primary;
        }

        @include breakpoint-up(sm) {
            min-width: 170px;
        }
    }
}
