mixin categories(data = {}, mods = {})
    ul.categories&attributes(attributes)
        each cat in data
            li.categories__item
                a(href="javascript:void(0);").categories__link= cat
