/**
 * Styles for the form group block.
 */
.form-group {
    position: relative;

    display: block;

    &__input {
        display: block;
        
        width: 100%;

        color: $color-text;
        font-family: $font-family-serif;
        font-style: italic;

        background: transparent;

        &::-ms-clear {
            display: none;
        }

        .form-group_theme_account & {
            padding: 5px 10px;

            color: $color-text;

            border: 1px solid $color-mercury;
        }

        .form-group_theme_footer & {
            padding: 15px 18px;

            color: $color-white;
            @include font-size(14px);

            border: 1px dashed $color-white;
        }

        .form-group_theme_default & {
            padding: 18px 23px;

            color: $color-text;
            @include font-size(14px);

            border: 2px dashed $color-silver;
        }

        &::placeholder {
            opacity: 1;

            .form-group_theme_account &,
            .form-group_theme_default & {
                color: $color-silver;
            }

            .form-group_theme_footer & {
                color: $color-gallery;
            }
        }
    }

    &__icon {
        position: absolute;
        right: 10px;
        top: 50%;

        color: $color-silver;
        @include font-size(12px);

        transform: translateY(-50%);
    }

    &__hidden-label {
        @include visually-hidden();
    }
}
