mixin shop-category-grid(data = {}, mods = {})
    .shop-category-grid&attributes(attributes)
        .shop-category-grid__inner
            each product in data.products
                .shop-category-grid__item(
                    class="shop-category-grid__item_col_" + data.itemCol
                )
                    +product(product, {size: data.itemSize})
        // /.shop-category-grid__inner 
    // /.shop-category-grid 