include ../../blocks/common/account/account.pug
include ../../blocks/common/btn/btn.pug
include ../../blocks/common/header/header.pug
include ../../blocks/common/lang-menu/lang-menu.pug
include ../../blocks/common/minicart/minicart.pug
include ../../blocks/common/icon/icon.pug
include ../../blocks/common/side-nav/side-nav.pug
include ../../blocks/common/search/search.pug
include ../../blocks/common/megamenu/megamenu.pug
include ../../blocks/common/section/section.pug
include ../../blocks/common/products/products.pug
include ../../blocks/common/product/product.pug
include ../../blocks/common/rating/rating.pug
include ../../blocks/common/post/post.pug
include ../../blocks/common/share/share.pug
include ../../blocks/common/footer/footer.pug
include ../../blocks/common/payments/payments.pug
include ../../blocks/common/back-to-top/back-to-top.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        if data.pageTitle
            title #{data.pageTitle} | #{data.siteTitle}
        else
            title #{data.siteTitle} &#8211; #{data.siteTagline}

        link(rel="stylesheet", href="css/style.css")
        link(rel="icon", href="img/favicon.ico")
    body.page#top
        if data.menuCenter
            -
                const menu      = data.menu;
                const menuLeft  = menu.slice(0, Math.floor(menu.length / 2));
                const menuRight = menu.slice(Math.floor(menu.length / 2));
            +header({
                menuLeft     : menuLeft,
                menuRight    : menuRight,
            }).page__header
        else
            +header({
                menu         : data.menu,
            }).page__header

        +side-nav({
            menu  : data.menu,
        }, {
            align : data.sideNavAlign,
        }).page__nav

        block page

        +footer(data.footer).page__footer
        +back-to-top().page__back-to-top

        block scripts
            script(src="js/vendor.js")
            script(src="js/main.js")
