mixin section(data = {}, mods = {})
    section.section&attributes(attributes)
        .page__container
            h2.section__title= data.title
            p.section__intro= data.text
        
            if block
                block
