mixin about-section(data = {}, mods = {})
    section.about-section&attributes(attributes)
        if data.leftImg
            .about-section__img(style=`background-image: url(${data.leftImg})`)
        .about-section__content
            .about-section__inner
                h2.title.about-section__title= data.title

                if block
                    block
        if data.rightImg
            .about-section__img(style=`background-image: url(${data.rightImg})`)