/**
 * Styles for the product block.
 */
.product {
    position: relative;

    overflow: hidden;

    background: $color-white;

    transition: all 0.25s linear;

    @include breakpoint-up(sm) {
        display: flex;
        flex-direction: column;
    }

    &__sale {
        position: absolute;
        z-index: 100;

        @include font-size(10px);
        text-align: center;
        text-transform: uppercase;

        &_theme_circle {
            right: 20px;
            top: 20px;

            height: 40px;
            width: 40px;

            color: $color-primary;
            line-height: 40px;

            border: 1px dashed $color-primary;
            border-radius: 50%;

            .product_large & {
                @include breakpoint-up(lg) {
                    right: 30px;
                    top: 30px;

                    height: 70px;
                    width: 70px;

                    @include font-size(14px);
                    line-height: 70px;
                }
            }
        }

        &_theme_ribbon {
            right: 0;
            top: 0;

            padding: 7px;
            width: 110px;

            color: $color-white;
 
            background: $color-primary;

            transform: translate(30px, 10px) rotate(40deg);
        }
    }

    &__thumb {
        padding: 30px;

        .product_small & {
            padding: 30px 20px;
        }

        .product_large & {
            padding: 50px 30px 40px;
        }
    }

    &__thumb-inner {
        position: relative;
    }

    &__thumb-overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        background: rgba($color-white, 0.94);
        opacity: 0;

        transition: opacity 0.25s linear;

        &:hover,
        &:focus-within {
            opacity: 1;
        }
    }

    &__thumb-img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    &__thumb-btn {
        margin: 10px;

        .product_large & {
            @include breakpoint-up(lg) {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    &__gallery-wrap {
        padding: 30px 0;
    
        @include breakpoint-up(sm) {
            flex: 1;
        }
    }

    &__gallery {
        @include breakpoint-up(sm) {
            height: 100%;
        }
    }

    &__info {
        padding: 20px 30px 25px;

        border-top: 1px solid rgba($color-black, 0.1);

        @include breakpoint-up(sm) {
            margin-top: auto;
        }
    }

    &__info-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        @include font-size(18px);

        .product_small & {
            @include breakpoint-up(lg) {
                @include font-size(16px);
            }
        }

        .product_large & {
            @include breakpoint-up(lg) {
                @include font-size(30px);
            }
        }
    }

    &__name {
        flex: 1;

        color: $color-secondary;
        font-family: $font-family-serif;
        text-decoration: none;

        transition: color 0.25s linear;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }

    &__price {
        margin-left: 20px;

        color: $color-primary;
    }

    &__price-old {
        margin-right: 8px;

        @include font-size(12px);
        color: $color-silver;
        text-decoration: line-through;
        vertical-align: text-top;

        .product_small & {
            @include breakpoint-up(lg) {
                @include font-size(10px);
            }
        }

        .product_large & {
            @include breakpoint-up(lg) {
                @include font-size(16px);
            }
        }
    }

    &__price-new {
        color: $color-secondary;
        text-decoration: none;
    }

    &__rating {
        @include font-size(14px);

        .product_small & {
            @include breakpoint-up(lg) {
                @include font-size(10px);
            }
        }
    }

    &:hover {
        @include breakpoint-up(md) {
            box-shadow: 0 10px 10px rgba($color-black, 0.1);

            transform: translateY(-10px);
        }
    }
}
