mixin minicart(data = {}, mods = {})
    .minicart&attributes(attributes)
        ul.minicart__items
            li.minicart__item
                a(href="javascript:void(0);").minicart__thumb
                    img(
                        src = "img/content/products/thumbs/80x60/a315.jpg"
                        alt = "Fl Model A315"
                    ).minicart__img
                .minicart__product-info
                    a(href="javascript:void(0);").minicart__name Fl Model A315
                    .minicart__price $530
                .minicart__qty x2
                button.minicart__remove
                    span(aria-hidden="true") &times;
            li.minicart__item
                a(href="javascript:void(0);").minicart__thumb
                    img(
                        src = "img/content/products/thumbs/80x60/a210.jpg"
                        alt = "Fl Model A210"
                    ).minicart__img

                .minicart__product-info
                    a(href="javascript:void(0);").minicart__name Fl Model A210
                    .minicart__price $399
                button.minicart__remove
                    span(aria-hidden="true") &times;
        // /.minicart__items 
            
        .minicart__total
            span.minicart__total-text Total:
            span.minicart__total-price $1,459
        // /.minicart__total 

        .btn-group.minicart__btns
            +btn({
                text : 'View Cart',
                url  : 'shopping-cart.html',
            }, {theme: 'secondary'}).btn-group__btn
            +btn({
                text : 'Checkout',
                url  : 'checkout.html',
            }, {theme: 'primary'}).btn-group__btn
        // /.minicart__btns 
    // /.minicart 